# OS
.DS_Store

# IDEs
.vscode/
.idea/

# Backend (Python)
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.env
.venv/
backend/venv/

# Data
data/*.csv

# Frontend (Node/SvelteKit)
node_modules/
dist/
build/
.output/
.svelte-kit/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
